[Unit]
Description=Sticky Timer Watchdog
After=graphical.target

[Service]
ExecStart=/home/stup/Scripts/watchdog
# Ensure it runs as your user
WorkingDirectory=/home/stup/Scripts

[Install]
WantedBy=default.target



